<div class="card {% if detail|default(false) %}w-100{% endif %}">
    <div class="card-body">
        <h2 class="card-title"><a href="{{ path('_show', { 'slug': entity.slug }) }}">{{ entity.summary }}</a></h2>

        <div class="card-subtitle mb-2 text-muted">
            <span class="badge bg-success">
                <i class="bi bi-calendar"></i> {{ entity.getFormatedDate() }}
            </span>

            {% if entity.location is not null %}
                <a class="badge bg-success" href="{{ path('location_show', {'slug' : entity.location.slug }) }}">
                    <i class="bi bi-geo-alt"></i> {{ entity.location.name }}
                </a>
            {% endif %}

            {% if detail|default(false) %}
                {% if entity.tags|length > 0 %}
                    {% for tag in entity.tags %}
                        <a class="badge bg-success" href="{{ path('tag_show', {'slug' : tag.slug }) }}">
                            <i class="bi bi-tag"></i> {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if entity.url is not null and entity.url|length > 0 %}
                <a class="badge bg-success" href="{{ entity.url }}">
                    <i class="bi bi-globe"></i> {{ entity.url|u.truncate(30) }}
                </a>
            {% endif %}
        </div>

        <div class="card-text">
            {% if truncate_summary|default(false) %}
                <p>{{ entity.description|u.truncate(255)|markdown_to_html }}</p>
            {% else %}
                <p>{{ entity.description|markdown_to_html }}</p>
            {% endif %}
        </div>

        {% if detail|default(false) %}
            <a class="btn btn-success btn-sm" href="{{ path('_edit', {'slug' : entity.slug }) }}">
                <i class="bi bi-pencil"></i> Bearbeiten
            </a>
            <a class="btn btn-danger btn-sm" href="{{ path('_delete', {'slug' : entity.slug }) }}">
                <i class="bi bi-trash"></i> Löschen
            </a>
            <a class="btn btn-secondary btn-sm" href="{{ path('_copy', {'slug' : entity.slug }) }}">
                <i class="bi bi-files"></i> Kopieren
            </a>
        {% endif %}
    </div>
</div>