{% extends 'layout.html.twig' %}

{% block body -%}
    <div class="container my-4">
        <h1 class="text-success border-bottom pb-2">
            Wiederholende Termine
        </h1>
    </div>

    <div class="container my-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Zusammenfassung</th>
                <th>Nächstes Datum</th>
                <th>Wiederholungsmuster</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.summary }}
                    </td>
                    <td>
                        {{ entity.nextdate.format('Y-m-d H:i') }}
                    </td>
                    <td>
                        {{ entity.repeatingPattern }}
                    </td>
                    <td>
                        <a href="{{ path('repeating_event_edit', {'slug':entity.slug}) }}" class="btn btn-sm btn-outline-primary">Bearbeiten</a>
                        <a href="{{ path('repeating_event_delete', {'slug':entity.slug}) }}" class="btn btn-sm btn-outline-danger">Löschen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <a class="btn btn-success" href="{{ path('repeating_event_new') }}">Neuen wiederholenden Termin anlegen</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}
